name: ci-tests

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
      - name: Setup Chrome
        id: chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable
      - name: Check Chrome version
        run: |
          echo "Chrome path: ${{ steps.chrome.outputs.chrome-path }}"
          echo "Chrome version: ${{ steps.chrome.outputs.chrome-version }}"
          "${{ steps.chrome.outputs.chrome-path }}" --version
      - name: Run tests
        env:
          CHROME_BIN: ${{ steps.chrome.outputs.chrome-path }}
          CHROME_VERSION: ${{ steps.chrome.outputs.chrome-version }}
        run: |
          chmod +x mvnw
          ./mvnw test
          ./mvnw allure:report
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/site/allure-maven-plugin
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Report link
        run: |
          echo "Allure report: ${{ steps.deployment.outputs.page_url }}" >> $GITHUB_STEP_SUMMARY
